@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');

/* Tags Gerais */

* {
    box-sizing: border-box;
}

.centralizado {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.inicial {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.fundo {
    background-color: #FB6B6B;
    width: 100%;
    height: 100%;
    flex-direction: column;
    min-height: 844px;
    position: relative;
    padding-bottom: 70px;
}

/* Tela 1 */

.titulo > img {
    width: 136px;
    height: 161px;
}

.titulo > h1 {
    font-size: 36px;
    font-family: 'Righteous';
    font-style: normal;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 30px;
}

.botao {
    width: 246px;
    height: 54px;
    border: 1px solid #D70900;
    border-radius: 5px;
    color: #D70900;
    font-size: 22px;
    font-family: 'Recursive';
    font-style: normal;
}

.botao:hover {
    filter: opacity(0.9);
    cursor: pointer;
}

.botao:active{
    transform: translateY(2px);
}

/* Tela 2 */

.logo {
    display: flex;
    margin-top: 48px;
}

.logo img {
    width: 52px;
    height: 60px;
}

.logo h1 {
    text-align: center;
    margin-left: 10px;
}

.deck { 
    overflow-y: scroll;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 70px;
}

.flashcard {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 25px;
}

.nao-respondida:hover{
    filter: opacity(0.9);
    cursor: pointer;
}

.nao-respondida:active{
    transform: translateY(2px);
}

.flashcard > span {
    font-family: 'Recursive';
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.flashcard > ion-icon {
    color: #333333;
    width: 20px;
    height: 23px;
}

.acertos {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px 3px 0px 0px;
}

.acertos > p {
    color: #333333;
    font-family: 'Recursive';
    font-size: 18px;
    text-align: center;
}

/* Tela 3 */

.selecionado {
    height: 130px;
    position: relative;
    align-items: initial;
    flex-direction: column;
}

.selecionado > span {
    font-weight: 400;
} 

.selecionado > ion-icon {
    position: absolute;
    bottom: 5px;
    right: 6px;
}

/* Tela 4 */
.opcoes {
    display: flex;
}

.opcoes > div {
    width: 86px;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vermelho {
    background-color: #FF3030;
}

.amarelo {
    background-color: #FF922E;
}

.verde {
    background-color: #2FBE34;
}

/* Tela 5 */
.errada {
    color: red;
}

.errada > span {
    color: #FF3030;
    text-decoration: line-through;
}

.errada > ion-icon{
    color: red;
}

.quase-errada {
    color: #FF922E;
}

.quase-errada > span{
    color: #FF922E;
    text-decoration: line-through;
}

.quase-errada > ion-icon {
    color: #FF922E;
}

.certa{
    color: #2FBE34;
}


.certa > span{
    color: #2FBE34;
    text-decoration: line-through;
}

.certa > ion-icon {
    color: #2FBE34;
}

.resultado {
    display: flex;
}

.resultados ion-icon {
    width: 23px;
    height: 23px;
    margin-left: 3px;
    margin-right: 3px;
}


.respondida {
    text-decoration: line-through
}

/* Tela6 */

.finalizado {
    height: 170px;
    padding-left: 88px;
    padding-right: 65px;
}

.finalizado h5 {
    font-size: 18px;
    font-weight: bold;
}

.finalizado span{
    display: flex;
}

.finalizado img {
    width: 23px;
    height: 23px;
    margin-right: 12px;
}

.finalizado p {
    flex-wrap: wrap;
    margin-top: 14px;
    margin-bottom: 14px;
}

.feito {
    margin-bottom: 100px;
}

/* Oculto */
.oculto {
    display: none;
}